
head {
  margin:0;
  padding: 0;
  background-color: black;
  color:black;

}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0F3B53;
  color: #F0EBD4;
}

header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
   font-size:20px;
}
.officers-section {
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 20px;
  padding: 40px;
  justify-items :center;
  color: #F0EBD4;
}
.officer img { width:150px; 
  height:150px; 
  object-fit:cover; 
  border-radius:50%; 
  margin-bottom:10px; 
  margin-left:30px;
}
.officer p{
   font-weight: bold;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#homeBtn {
  background-color: black;
  color:#F0EBD4;
  border-radius:12px;
  padding: 25px;
  font-size:20px;
  cursor:pointer;
}

#contactBtn:hover {
  background-color: #0066ff;
}

footer {
  background-color: black;
  color: #F0EBD4;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

